*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.heading {
  background-image:url("../slide1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  display: flex;
  flex-direction: column;
}


.navbar{
  padding-top: 2vh;
  display: flex;
  align-items: center;
  position: fixed;
   top: 0;
   left: 0;
   right: 0;
}

.links{
  width:100%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;

}

.logo{
  margin-left: 5%;
  flex-basis: 40%;

}
a{
  text-decoration: none;
  font-size: 0.8rem;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}

.nav-btn{
  width: 6.5vw;
  height: 2.7vw;
  border-radius: 20px;
  border: none;
  background-color: #0078BE;
  color: white;
  font-family: sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  margin-right: 3vw;

}

.nav-item{
  margin-top: 1%;
}

.menu{
  display: none;
}

.para{
  display: flex;
  justify-content: center;
}

.text1{
  display: flex;
  justify-content: center;
  margin-top: 30vh;
  flex-wrap: wrap;
  max-width: 60%;
  margin-bottom: 35vh;

}

.text1 h1{
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
  color: white;
  font-weight: normal;
}


.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
}

.dropdown {
  position: relative;
  display: inline-block;


}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 12vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:auto;
  padding: 10px 10px;
}

.dropdown-content a {
  min-width: 4vw;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: normal;
  font-size: 12px;
  font-family:sans-serif;
}


.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.foundations{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#F0F0F0;
  padding-bottom: 50px;

}

.f-title{
  width: 50%;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  margin-bottom: 5vh;
  text-align: center;
}

.f-cards{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}


.f-card{
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 5vh;
  margin: 2vh;
  justify-content: center;
  align-items: center;
  width: 37vh;

}

.foundations img{
  margin-bottom: 25px;
}

.foundations p{
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;

}

.info{
  margin-top: 25px;
  font-size: 16px!important;
  font-weight: normal!important;
  line-height: 1.4;
  color: #101010;
  opacity: 90%;
  margin-bottom: 0!important;
  width: 100%;

}


.f-card:hover{
  background-color: #CCCCFF;

}

.video{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content : space-between;
  background-image:url("../parallax-4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;


}

.v-title{
  font-family: sans-serif;
  font-size: 2.5vw;
  margin-bottom: 7vh;
  text-align: center;
  color: white;

  }

.y-video{
text-align: center;
}

.play{

z-index: 1;
}

.join{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


li{
list-style: none;
}

.join-bdd{
  font-family: sans-serif;
  font-size: 2.5vw;
  margin-bottom: 5vh;
  text-align: center;
  color: Black;
  font-weight: bold;
}

.services{
  display: flex;
  justify-content: space-evenly;
}

.s-cards{
  display: flex;
  justify-content: space-evenly;

}

.s-card{
padding: 6vh;
display: flex;
flex-direction: column;
margin: 1vw;
align-items: center;
width: 14vw;
background-image:url("../images/bg-icon.png");
}

.s-card p{
  text-align: left;
  font-size: 1vw;
  margin-bottom: 1vw;
  font-family: sans-serif;
  font-weight: bold;
  width: 70%;
}


ul{
  display: flex;
  flex-direction: column;
}

ul div{
  display: flex;
  margin: 0.6vw 0;
  width: 100%;
}

ul i{
color: #7393B3;
margin-right: 1vw;

}

ul li{
  font-size: 1vw;
  line-height: 1.4;
  color: #101010;
  opacity: 90%;
  width: 90%;
}

.s-card button{
  background-color: #0078BE;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  border: none;
  width: 10vw;
  height: 3vw;
  border-radius: 20px;
  margin-top:2vw;
  font-size: 1vw;
}

.s-btnl{
  margin-top: 6vw!important;
}

.social{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

.social p{
  margin-right: 6vh;
  font-size: 2vw;
  font-family: sans-serif;
  color: #101010;
  margin-bottom: 15px;

}
.download{
  display: flex;
  justify-content: flex-end;
  margin-right: 6vh;
}
.download img{
  margin-right: 2vh;
}


.statistics{

margin-top: 50px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
 background-image:url("../parallax-light.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  padding: 50px 20px;

}

.statistics p{

  font-size: 2vw;
  font-family: sans-serif;
  font-weight: bold;
}

.stats{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 30px;
}

.stat-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width:30vw;

}

.stat-card h3{
  font-size: 3vw;
  color: transparent;
  font-family: The Mix Black;
  margin-top: 15px;
  text-align: center;

  }

  .stat-card p{
    letter-spacing: 2px;
    color: #333;
    text-align: center;
    margin-top: 20px;
    font-size: 2vh;
    font-weight: bold;
    max-width: 80%;
    }

.first-st {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #009a9e;
}
.second-st {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #e13870;

}
.third-st {
  -webkit-text-stroke-width: 2px;

  -webkit-text-stroke-color: #0078be;

}
.fourth-st {
  -webkit-text-stroke-width: 2px;

  -webkit-text-stroke-color: #00802d;

}








/* Media Queries */

@media only screen and (max-width : 768px){

.stats{
  flex-wrap: wrap;
}

}



@media only screen and (max-width : 1000px)  {

.bdd-icon{
width: 50%;
}


.nav-item{
  display: none;
}

.nav-item-btn{
  display: none;
}

.links{
  display: flex;
  justify-content:flex-end;
  margin-right: 20px;

}
.menu{
  display:contents;

  }

  .heading{
  }



  .text1 h1{

    font-size: 20px;

  }

.services img {
  display: none;
}

.s-card{
  width: 50vh;
}

.s-card p{
  text-align: left;
  font-size: 2vw;
  margin-bottom: 2vw;
  font-family: sans-serif;
  font-weight: bold;
  width: 70%;
}

ul li{
  font-size: 1.4vw;

}

}


@media only screen and (max-width :990px) and (min-width:577px) {

  .s-card{
    width:40vw;
    }
.wrap{
  flex-wrap: wrap;
}


}

@media only screen and (max-width :576px) {

  .services{
    width: 100%;

  }
  .s-card{
    justify-content:flex-start;
    align-items: flex-start;
    width:100%;
    padding: 50px;

    }
.wrap{
  flex-wrap: wrap;
}


}


@media only screen and (max-width :770px) {

  .download{
    justify-content: center;
    margin-right: 0;
  }

  .social{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .social p{
margin-right: 0;
  }


}


@media only screen and (max-width : 1435px) and (min-width:1149px)  {
  .newline{
    width: 91vw;
  }

  .text1 h1{

    font-size: 40px;

  }


}


@media only screen and (max-width : 1150px) and (min-width : 861px)  {
  .newline{
    width: 45%;
  }

  .sustain{
    width: 45%;


  }
  .text1 h1{

    font-size: 30px;

  }
}


@media only screen and (max-width : 862px) and (min-width: 573px) {
  .newline{
    width: 90%!important;
  }

  .sustain{
    width: 37vh;
  }

  .smart{
    width: 37vh;
  }

  .text1 h1{

    font-size: 25px;

  }

}
